.elemento{
    border: 1px solid black;
    background-color: azure;
    border-radius: 12px;
    margin: 10px;
    width: 300px;
    text-align: center;
    padding: 5px;
    &__img{
        height: 150px;


    }

}
.linkNav a{
    text-decoration: none;
    color: white;
    margin: 5px;
    &.active{
        color: grey;
    }
}

.controArticulos{
    display: flex;
    width: 290px;
    justify-content:space-evenly;
    margin-bottom: 5%;
    margin-top: 5%;

    
}
.baseCarrito{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    

}
.elementoDetalle{
    border:solid 2px black;
    margin: 1rem;
    padding: 10px;
    &__img{
        height: 200px;


    }
}