.elemento{
    border: 1px solid black;
    background-color: azure;
    border-radius: 12px;
    margin: 10px;
    width: 300px;
    text-align: center;
    padding: 5px;
    &__img{
        height: 150px;


    }
   
}
.controArticulos{
    display: flex;
    width: 290px;
    justify-content:space-evenly;
    margin-bottom: 5%;
    margin-top: 5%;

    
}
.baseCarrito{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    

}